#include <paramdia.rh>

ID_DIALOG DIALOG 31, -8, 153, 162
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Gas discharge model configuration"
FONT 10, "System"
{
 EDITTEXT IDC_LX, 37, 20, 20, 10, WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_LY, 37, 35, 20, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_VOLTAGE, 48, 72, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_DK, 48, 88, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_FD, 48, 104, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_XEM, 48, 139, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_XSIZE, 114, 20, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_YSIZE, 114, 36, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_DE, 115, 73, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_ESIZE, 115, 89, 21, 10, WS_BORDER | WS_TABSTOP
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 114, 26, 16
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 134, 26, 16
 CTEXT "lx", -1, 8, 21, 27, 8
 CTEXT "voltage [V]", -1, 8, 73, 38, 8
 CONTROL "Space size (sm)", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 6, 71, 46
 CTEXT "ly", -1, 8, 36, 27, 8
 CTEXT "field [V/sm]", -1, 8, 105, 38, 8, SS_CENTER | NOT WS_GROUP
 CONTROL "Grid", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 83, 6, 64, 46
 CTEXT "xsize", -1, 86, 21, 24, 8
 CTEXT "ysize", -1, 86, 37, 24, 8
 CONTROL "Electric field", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 58, 71, 62
 CTEXT "dk [sm]", -1, 8, 89, 38, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 83, 110, 64, 45
 CONTROL "Energy scale", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE, 83, 58, 64, 46
 CTEXT "de [eV]", -1, 89, 74, 24, 8
 CTEXT "esize", -1, 89, 90, 24, 8
 CTEXT "xem [sm]", -1, 10, 140, 38, 8
 CONTROL "Emission coord", -1, "BorShade", BSS_GROUP | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 126, 71, 29
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 114, 26, 16
}

