#include <paramdia.rh>

ID_DIALOG DIALOG 62, -15, 153, 176
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Gas discharge configuration"
{
 EDITTEXT IDC_LX, 37, 20, 20, 10, WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_LY, 37, 35, 20, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_VOLTAGE, 48, 72, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_DK, 48, 88, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_FD, 48, 104, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_XSIZE, 114, 20, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_YSIZE, 114, 36, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_DE, 115, 72, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_ESIZE, 115, 88, 21, 10, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_XEM, 120, 121, 21, 10, WS_BORDER | WS_TABSTOP
 CTEXT "lx", -1, 8, 21, 27, 8
 CTEXT "voltage [V]", -1, 8, 73, 38, 8
 CTEXT "ly", -1, 8, 36, 27, 8
 CTEXT "field [V/sm]", -1, 8, 105, 38, 8, SS_CENTER | NOT WS_GROUP
 CTEXT "xsize", -1, 86, 21, 24, 8
 CTEXT "ysize", -1, 86, 37, 24, 8
 CTEXT "dk [sm]", -1, 8, 89, 38, 8
 CTEXT "de [eV]", -1, 89, 73, 24, 8
 CTEXT "esize", -1, 89, 89, 24, 8
 CTEXT "xem [sm]", -1, 84, 122, 33, 8
 CONTROL "Emission coord", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 83, 110, 64, 25
 CONTROL "Space size (sm)", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 6, 71, 46
 CONTROL "Grid", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 83, 6, 64, 46
 CONTROL "Electric field", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 58, 71, 77
 CONTROL "Energy scale", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 83, 58, 64, 46
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 141, 140, 30
 DEFPUSHBUTTON "Ok", IDOK, 16, 151, 33, 14
 DEFPUSHBUTTON "Cancel", IDCANCEL, 62, 151, 33, 14
 DEFPUSHBUTTON "Help", IDHELP, 107, 151, 33, 14
}

